body{
    font-family: 'Tinos', serif;
    background-color: antiquewhite;
}
h1{
    background-color: darkgray;
    font-size: 5em;
    text-align: center;
    margin: 0;
}

table{
    box-shadow: 20px 20px 10px black;
    background-color: darkslategrey;
    color: white;
    border-style: none;
    margin: 10px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-25%)
}
td{
    text-align: center;
}
.cabecera{
    background-color: black;
    border-radius: 10px;
    border-style: hidden;
    color: white;
}
nav{
    display: flex;
    justify-content: right;
}
a{
    font-size: 15px;
    margin-right: 10px;
}
div{
    display: flex;
}
form{
    display: flex;
}